{{ define "body" }}
<main>
  <!-- TODO: by default the QR code should be obfuscated. -->
  {{ if ne .SpaceID 0 }}
  <img
    src="https://chart.googleapis.com/chart?cht=qr&chl={{ .RoomURL }}&chs=160x160&chld=L|0"
    class="qr-code img-thumbnail img-responsive"
  />
  {{ end }}
  <div>
    <h1>Drip</h1>
    <section class="tool-bar">
      <button type="button" hx-post="/spaces" hx-target="body">
        New space
      </button>
      {{ if eq .SpaceID 0 }}
      <hr aria-orientation="vertical" />
      <form hx-get="/spaces" hx-target="body" class="tool-bar">
        <input type="text" name="id" />
        <button>Go to space</button>
      </form>
      {{ end }}
    </section>
    {{ if ne .SpaceID 0 }}
    <form class="box" hx-post="/spaces/{{.SpaceID}}/messages" hx-target="body">
      <input
        id="text-input"
        name="text"
        type="text"
        placeholder="Post a note"
      />
      <section class="actions margin">
        <button>+ new</button>
      </section>
      space:
      <span name="spaceID" value="{{ .SpaceID }}">{{.SpaceID}}</span>
    </form>
    {{ end }}
    <br />
  </div>
  <div style="display: flex; gap: 16px" class="flex-wrap:wrap">
    {{ range.Messages }}
    <form
      hx-delete="/messages/{{.ID}}"
      hx-swap="outerHTML"
      style="border-radius: 16px"
    >
      <div class="drip">
        {{ .Text }}
        <button>x</button>
      </div>
    </form>
    {{ end }}
  </div>
</main>
{{ end }}
