{{ define "body" }}
<main>
  <div>
    <h1>Drip</h1>
    <section class="tool-bar">
      <button type="button" hx-post="/spaces" hx-target="body">
        New space
      </button>
      <img
        src="https://chart.googleapis.com/chart?cht=qr&chl={{ .RoomURL }}&chs=80x80&chld=L|0"
        class="qr-code img-thumbnail img-responsive"
      />
    </section>
    {{ if ne .SpaceID 0 }}
    <form class="box" hx-post="/spaces/{{.SpaceID}}/messages" hx-target="body">
      <input id="text-input" name="text" placeholder="Post a note" />
      <section class="actions" style="margin-top: 16px">
        <button>+ new</button>
      </section>
    </form>
    {{ end }}
  </div>

  <div style="display: flex; gap: 16px" class="flex-wrap:wrap">
    {{ range.Messages }}
    <form
      hx-delete="/messages/{{.ID}}"
      hx-swap="outerHTML"
      style="border-radius: 16px"
    >
      <div class="drip">
        {{ .Text }}
        <button>x</button>
      </div>
    </form>
    {{ end }}
  </div>
</main>
{{ end }}
