{{ define "scripts"}}
<link
  rel="stylesheet"
  href="https://unpkg.com/missing.css@1.0.9/dist/missing.min.css"
/>

<script
  src="https://unpkg.com/htmx.org@1.9.4"
  integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
  crossorigin="anonymous"
></script>
<style>
  body {
    display: block;
    background-color: ghostwhite;
    padding: 16px 54px;
  }

  #text-input {
    padding: 16px;
    width: 100%;
    border: solid 1px chocolate;
    border-radius: 8px;
  }

  #upload-file {
    padding: 16px 4px;
    width: 512px;
  }

  #drip-container {
    display: flex;
    max-width: 512px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .drip {
    border: 1px solid chocolate;
    padding: 16px;
    border-radius: 16px;
    background-color: peachpuff;
    filter: drop-shadow(0px 4px 8px chocolate);
  }

  #drip-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .qr-code {
    position: absolute;
    top: 5%;
    left: 85%;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
</style>
{{ end }}
